.footer{
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.94) 32.44%, rgba(255, 255, 255, 0.53) 65.31%, rgba(255, 255, 255, 0.00) 100%);
}

.footer-block{
    max-width: 1080px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto 0 auto;
}

@media(max-width:900px){
    .footer-block{
        display: block;
        max-width: 320px;

    }
    .footer-nav li{
        font-size: 14px;
        text-align: center;
        padding-top: 5px;
    }
    .footer-nav{
        padding-top: 20px;

    }
    .footer-adres li{
        font-size: 14px;
        text-align: center;
        padding-top: 5px;

    }
    .footer-adres{
        padding-top: 20px;

    }

}